@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #7f8795;
}
body header {
  position: fixed;
  margin: 0.5rem;
  padding: 0.5rem;
}
body header img {
  height: 2rem;
}
body main section {
  zoom: 1;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #339966;
  background-position: cover;
  background-repeat: no-repeat;
}
body main section:before,
body main section:after {
  content: "";
  display: table;
}
body main section:after {
  clear: both;
}
body main section .section-title {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}
body main section .section-title h4 {
  margin: 0;
  padding: 1rem 0 0 0;
}
body main section .story {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-top: 10%;
  padding-bottom: 5%;
  max-height: 95%;
}
body main section .story img {
  display: none;
}
body main section .story .caption {
  zoom: 1;
  padding: 0 5%;
}
body main section .story .caption:before,
body main section .story .caption:after {
  content: "";
  display: table;
}
body main section .story .caption:after {
  clear: both;
}
body main section .story .caption h2 {
  margin-bottom: 2rem;
  font-size: 60px;
  color: #1d2a35;
  text-align: center;
}
body main section .story .caption p {
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
}
body main section#title {
  background-image: url(images/bgLockscreen.jpg);
}
body main section#title .story {
  background-color: rgba(255, 255, 255, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
}
body main section#curated {
  background-image: url(images/bgCurated.jpg);
}
body main section#curated .story {
  background-color: rgba(255, 255, 255, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
}
body main section#lockscreen {
  background-image: url(images/bg2.jpg);
}
body main section#lockscreen .story {
  background-color: rgba(255, 255, 255, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
}
body main section#snacky {
  background-image: url(images/bgSnack.jpg);
}
body main section#snacky .story {
  background-color: rgba(255, 255, 255, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
}
body main section#founders {
  background-color: #1d2a35;
}
body main section#founders .story {
  position: static;
  margin: 0;
  padding-top: 5%;
  padding-bottom: 5%;
}
body main section#founders .story .container {
  margin: 0;
  padding: 0 5%;
  height: 50%;
}
body main section#founders .story .container img {
  display: inline-block;
  height: auto;
  width: 25%;
  border-radius: 100%;
  border: solid 10px #141d25;
}
body main section#founders .story .container .caption {
  display: inline-block;
  width: 70%;
}
body main section#founders .story .container .caption h3 {
  font-size: 30px;
}
body main section#founders .story .container .caption p {
  font-size: 20px;
}
body main section#signup-form {
  background-color: white;
}
body main section#signup-form .section-title {
  position: static;
}
body main section#signup-form .section-title h1 {
  color: #336699;
  font-size: 60px;
}
body main section#signup-form form {
  margin: 0 auto;
  padding: 0 5%;
  padding-bottom: 3rem;
  text-align: center;
  max-width: 1200px;
}
body main section#signup-form form div.info {
  margin-bottom: 2rem;
}
body main section#signup-form form div.info p {
  margin: 0.5rem 0;
  padding: 0;
  font-size: 30px;
}
body main section#signup-form form label {
  font-size: 1.2rem;
  margin: 0.5em 0 0.2em;
}
body main section#signup-form form input {
  width: 70%;
  margin: 1rem 5%;
  font-size: 1.2rem;
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
}
body main section#signup-form form select {
  width: 70%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  padding: 0.5rem 0.6rem;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
}
body main section#signup-form form button {
  width: 70%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: white;
  padding: 0.5rem 0.6rem;
  display: inline-block;
  border: 1px solid #339966;
  background-color: #339966;
  border-radius: 4px;
}
