@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #ffffff;
  min-width: 400px;
}
body main section {
  zoom: 1;
  overflow: hidden;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #1d2a35;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
body main section:before,
body main section:after {
  content: "";
  display: table;
}
body main section:after {
  clear: both;
}
body main section .header {
  position: absolute;
  margin: 0.5rem;
  padding: 0.5rem;
  top: 0;
  left: 0;
  z-index: 100;
}
body main section .header img {
  height: 3.5rem;
}
body main section .section-title {
  width: 100%;
  text-align: center;
}
body main section .story {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 100%;
  padding-top: 3.5rem;
  text-align: center;
}
body main section .story:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
body main section .story img {
  display: inline-block;
  vertical-align: middle;
  max-width: 40%;
  max-height: 100%;
  padding: 5%;
}
body main section .story .mobile-caption {
  display: none;
}
body main section .story .caption {
  zoom: 1;
  max-width: 400px;
  width: 60%;
  vertical-align: middle;
  display: inline-block;
}
body main section .story .caption:before,
body main section .story .caption:after {
  content: "";
  display: table;
}
body main section .story .caption:after {
  clear: both;
}
body main section .story .caption h2 {
  margin-bottom: 1rem;
  font-size: 30px;
}
body main section .story .caption p {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
@media screen and (device-aspect-ratio: 40/71) {
  body main section .story:before {
    display: none;
  }
  body main section .story img {
    max-width: 80%;
    max-height: 60%;
    margin: 3%;
    margin-top: 10%;
    padding: 0;
  }
  body main section .story .caption {
    display: none;
  }
  body main section .story .container {
    display: block;
  }
  body main section .story .container .caption {
    display: none;
  }
  body main section .story .container img {
    width: 200px;
  }
  body main section .story .mobile-caption {
    zoom: 1;
    margin: 3%;
    padding: 0;
    display: inline-block;
  }
  body main section .story .mobile-caption:before,
  body main section .story .mobile-caption:after {
    content: "";
    display: table;
  }
  body main section .story .mobile-caption:after {
    clear: both;
  }
}
@media only screen and (max-width: 600px) {
  body main section .story:before {
    display: none;
  }
  body main section .story img {
    max-width: 80%;
    max-height: 60%;
    margin: 3%;
    margin-top: 10%;
    padding: 0;
  }
  body main section .story .caption {
    display: none;
  }
  body main section .story .mobile-caption {
    zoom: 1;
    margin: 3%;
    padding: 0;
    display: inline-block;
  }
  body main section .story .mobile-caption:before,
  body main section .story .mobile-caption:after {
    content: "";
    display: table;
  }
  body main section .story .mobile-caption:after {
    clear: both;
  }
}
body main section#title {
  background-image: url(images/forestBG.jpg);
}
body main section#curated {
  background-image: url(images/curatedBG.jpg);
}
body main section#lockscreen {
  background-image: url(images/nightSkyBG.jpg);
}
body main section#snacky {
  background-image: url(images/mainBG.jpg);
}
body main section#founders {
  background-color: #015d8c;
}
body main section#founders .peeker {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: -70%;
  left: -30%;
  z-index: 0;
  width: 100%;
}
body main section#founders .peeker img {
  width: 70%;
}
body main section#founders .story {
  color: #ffffff;
  padding-top: 5rem;
  z-index: 1;
}
body main section#founders .story:before {
  display: none;
}
body main section#founders .story .container {
  margin: 0;
  padding: 1rem;
  max-height: 35%;
  display: block;
  overflow: hidden;
}
body main section#founders .story .container img {
  padding: 0;
  display: inline-block;
  height: auto;
  width: 150px;
  border-radius: 100%;
  border: solid 10px #013b59;
}
body main section#founders .story .container .caption {
  display: inline-block;
  width: 85%;
  max-width: 600px;
  padding-left: 2rem;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
}
body main section#founders .story .container .caption h3 {
  font-size: 22px;
  display: inline;
}
@media only screen and (max-width: 700px) {
  body main section#founders .story .container .caption {
    display: none;
  }
}
body main section#signup-form {
  background-color: white;
}
body main section#signup-form .section-title {
  position: static;
}
body main section#signup-form .section-title h1 {
  color: #016496;
  font-size: 60px;
}
body main section#signup-form footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
}
body main section#signup-form form {
  margin: 0 auto;
  padding: 0 5%;
  padding-bottom: 3rem;
  text-align: center;
  max-width: 1200px;
}
body main section#signup-form form div.info {
  margin-bottom: 2rem;
}
body main section#signup-form form div.info p {
  margin: 0.5rem 0;
  padding: 0;
  font-size: 30px;
}
body main section#signup-form form label {
  font-size: 1.2rem;
  margin: 0.5em 0 0.2em;
}
body main section#signup-form form input {
  width: 70%;
  margin: 1rem 5%;
  font-size: 1.2rem;
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
}
body main section#signup-form form select {
  width: 70%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  padding: 0.5rem 0.6rem;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
}
body main section#signup-form form button {
  width: 70%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: white;
  padding: 0.5rem 0.6rem;
  display: inline-block;
  border: 1px solid #339966;
  background-color: #339966;
  border-radius: 4px;
}
