doctype html
html
  head
    title Twiddle
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="/style.css")
  body
    header.jumbotron
      h1 Twiddle Curator
    main
      .grid-row
        .col-sm-5.col-md-6
          .embed-container
            iframe(src="//www.youtube.com/embed/lErtjguuvSw?rel=0", frameborder="0", allowfullscreen)
        form.col-xs-4.col-xs-offset-1(role="form")
          .form-group.clearfix
            label Parameter 1
            input.form-control.col-xs-4
          .form-group.clearfix
            label Parameter 2
            input.form-control.col-xs-4
          .form-group.clearfix
            label Rating
            input.form-control.col-xs-4
          .form-group.clearfix
            label Tags
            input.form-control.col-xs-4
          button.btn.btn-success(type="submit") Save
    footer
