@import 'fullPage';

* {box-sizing: border-box;}

// Fonts
@import url(http://fonts.googleapis.com/css?family=Lato|Lustria);

h1, h2, h3, h4 {
  font-family: 'Lustria', serif;
  color: #339966;
}

h1 { font-size: 5.0rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.2rem; }

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  font-size: 20px;
}

// Colours
@brand-blue: #336699;
@brand-green: #339966;

section {
  .section-title {
    padding: 0.5rem 5%;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    h2 {
      margin: 0;
      padding: 0;
    }
  }
  .story {
    padding: 3rem 1%;
    margin: 0 auto;
    max-width: 1200px;
    .caption {
      display: inline-block;
      width: 73%;
      padding: 0 5%;
      vertical-align: middle;
      text-align: center;
    }
  }
}

section#home {
  background: url('images/bg2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  header {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    padding: 0 1rem;
    h1 {
      color: #ccc;
    }
  }
}


section#founders {
  background-color: #222;
  color: #ccc;
  .story {
    img {
      vertical-align: middle;
      height: auto;
      width: 20%;
      margin: 0 2.5%;
      border-radius: 100%;
      border: 20px solid #111;
    }
  }
}
