doctype html5
html
  head
    title twidd.ly
    link(rel="stylesheet", type="text/css", href="style.css")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600', rel='stylesheet', type='text/css')
    link(href='favicon.ico', rel='icon', type='image/ico')
  body
    main
      section#title
        .header
          img(src="images/twiddlyWatermarkBlue.png")
        .story
          .caption
            h2 transcend boredom
            p twiddly brings the best of the web, right to your lockscreen
          img(src="images/bearContentPhone.png", alt="")
          .mobile-caption
            h2 transcend Boredom
            p twiddly brings the best of the web, right to your lockscreen
      section#curated
        //- .header
        //-   img(src="images/twiddlyWatermark.png")
        .story
          img(src="images/themeChooser.png", alt="")
          .caption
            h2 stories that inspire you
            p choose from curated themes to get handpicked stories you'd enjoy.
          .mobile-caption
            h2 stories that inspire you
            p choose from curated themes to get handpicked stories you'd enjoy.
      section#lockscreen
        //- .header
        //-   img(src="images/twiddlyWatermark.png")
        .story
          .caption
            h2 dive right in
            p read articles, watch videos and browse stories without unlocking your phone.
          img(src="images/moonContentPhone.png", alt="")
          .mobile-caption
            h2 dive right in
            p read articles, watch videos and browse stories without unlocking your phone.
      section#snacky
        //- .header
        //-   img(src="images/twiddlyWatermarkBlue.png")
        .story
          img(src="images/magnifyTimePhone.png", alt="")
          .caption
            h2 stories that pack a punch
            p snack away on stories that are no longer than 5 minutes!
          .mobile-caption
            h2 stories that pack a punch
            p snack away on stories that are no longer than 5 minutes!
      section#founders
        .peeker
          img(src="images/twiddlyWatermarkBlue.png")
        .section-title
          h2 the team
        .story
          .container
            img(src="images/ranjan.jpg", alt="")
            .caption
              | <h3>ranjan</h3> is a Stanford Ignite alum. He led customer development, product experiments and analytics for a 500 Startups company, Mygola. Before that, he was an innovation program manager with Yahoo! India where he designed and ran large scale innovation programs.
          .container
            img(src="images/sanjay.jpg", alt="")
            .caption
              | <h3>sanjay</h3> is an engineering grad from IIT Madras. He worked at an iBank but quit his job after a year to get back to coding. He developed an alerts system for the iOT startup MagnetWorks. He also headed 'Enerji' at Softrade - a product that helps factories move to cleaner fuels.
          .container
            img(src="images/aashrai.jpg", alt="")
            .caption
              | <h3>aashrai</h3> is our in house Android junkie. He likes his cricket and he likes his code.
      section#signup-form
        //- .header
        //-   img(src="images/twiddlyWatermarkBlue.png")
        .section-title
          h1 sign up!
        .info
          p Twiddly is coming to your lockscreen soon!
          p Get early access by signing up for the beta below.
        .info.success#signup-success
          p Thanks for your interest! We'll send you an email as soon as we have something to show you!
        form(id="signup", method="POST", action="http://api.twidd.ly/website-signup")
          select(name="phone", id="entry_1200618361", placeholder="Choose Phone", required)
            option(default) which phone do you own?
            option iPhone
            option windows
            option other
            option android
          input(name="email", id="entry_1422492071", placeholder="email address", required)
          button#signup-submit(type="submit", name="submit", value="Submit") sign up for a sneak peak!
        footer
          a(href="https://mixpanel.com/f/partner")
            img(src="http://cdn.mxpnl.com/site_media/images/partner/badge_blue.png", alt="Mobile Analytics")

script.
  function getParameterByName(name) {
    var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
    return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
  }
  document.onload = function() {
    console.log(getParameterByName('success'));
    if (getParameterByName('success') == 'submitted') {
      document.getElementById('signup-success').style.display = 'block';
    }
  };
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-49954273-2', 'twidd.ly');
  ga('send', 'pageview');
