* {box-sizing: border-box;}

// Mixins
.clearfix() {
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}

.gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}

.left() { text-align: left; }
.right() { text-align: right; }
.center() { text-align: center; }

// Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

// Colours
@brand-blue: #336699;
@brand-green: #339966;
@brand-black: #1d2a35;
@brand-gray: #7f8795;

// Page Styling
h1, h2, h3, h4, h5, h6 { font-family:  "Open Sans", sans-serif; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: @brand-gray;
  header {
    position: fixed;
    margin: 0.5rem;
    padding: 0.5rem;
    img{
      height: 2rem;
    }
  }

  main {
    section {
      .clearfix;
      height: 100%;
      position: relative;
      margin: 0;
      padding: 0;
      background-color: @brand-green;
      background-position: cover;
      background-repeat: no-repeat;
      .section-title {
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        margin:0;
        padding:0;
        h4 {
          margin: 0;
          padding: 1rem 0 0 0;
        }
      }
      .story {
        width: 100%;
        position: absolute;
        bottom: 0;
        padding-top: 10%;
        padding-bottom: 5%;
        max-height: 95%;
        img {
          display: none;
        }
        .caption {
          .clearfix;
          padding: 0 5%;
          h2 {
            margin-bottom: 2rem;
            font-size: 60px;
            color: @brand-black;
            text-align: center;
          }
          p {
            font-size: 30px;
            text-align: center;
            margin:0;
            padding:0;
          }
        }
      }
    }

    section#title {
      background-image: url(images/bgLockscreen.jpg);
      .story { .gradient(rgba(255,255,255,0.0), rgba(255,255,255,1)); }
    }

    section#curated {
      background-image: url(images/bgCurated.jpg);
      .story { .gradient(rgba(255,255,255,0.0), rgba(255,255,255,1)); }
    }

    section#lockscreen {
      background-image: url(images/bg2.jpg);
      .story { .gradient(rgba(255,255,255,0.0), rgba(255,255,255,1)); }
    }

    section#snacky {
      background-image: url(images/bgSnack.jpg);
      .story { .gradient(rgba(255,255,255,0.0), rgba(255,255,255,1)); }
    }

    section#founders {
      background-color: @brand-black;
      .story {
        position: static;
        margin: 0;
        padding-top: 5%;
        padding-bottom: 5%;
        .container {
          margin: 0;
          padding: 0 5%;
          height: 50%;
          img {
            display: inline-block;
            height: auto;
            width: 25%;
            border-radius: 100%;
            border: solid 10px darken(@brand-black, 5%);
          }
          .caption {
            display: inline-block;
            width: 70%;
            h3 {
              font-size: 30px;
            }
            p {
              font-size: 20px;
            }
          }
        }
      }
    }

    section#signup-form {
      background-color: white;
      .section-title {
        position: static;
        h1 {
          color: @brand-blue;
          font-size: 60px;
        }
      }
      form {
        margin: 0 auto;
        padding: 0 5%;
        padding-bottom: 3rem;
        text-align: center;
        max-width: 1200px;
        div.info {
          margin-bottom: 2rem;
          p {
            margin: 0.5rem 0;
            padding: 0;
            font-size: 30px;
          }
        }
        label {
          font-size: 1.2rem;
          margin: 0.5em 0 0.2em;
        }
        input {
          width: 70%;
          margin: 1rem 5%;
          font-size: 1.2rem;
          padding: 0.5em 0.6em;
          display: inline-block;
          border: 1px solid #ccc;
          box-shadow: inset 0 1px 3px #ddd;
          border-radius: 4px;
        }
        select {
          width: 70%;
          margin-top: 1rem;
          margin-bottom: 1rem;
          font-size: 1.2rem;
          padding: 0.5rem 0.6rem;
          display: inline-block;
          border: 1px solid #ccc;
          box-shadow: inset 0 1px 3px #ddd;
          border-radius: 4px;
        }
        button {
          width: 70%;
          margin-top: 1rem;
          margin-bottom: 1rem;
          font-size: 1.2rem;
          color: white;
          padding: 0.5rem 0.6rem;
          display: inline-block;
          border: 1px solid @brand-green;
          background-color: @brand-green;
          border-radius: 4px;
        }
      }
    }

  }
}