* {box-sizing: border-box;}

body {
  margin: 0;
  padding: 0;
  nav {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2rem;
    background-color: #333;
    a {
      text-decoration: none;
      color: #33aa88;
      padding: 0.5rem 2rem;
    }
  }

  header {
    margin: 0;
    padding: 2rem;
    background-color: #eee;
    h1 {
      font-size: 5rem;
      text-align: center;
    }
  }

  main {
    section {
      height: 80%;
      width: 80%;
      margin: 20% auto;
      border-bottom: solid fade(#ccc, 50%) 1px;
      img {
        height: 50%;
      }
      .story {
        padding: 20% 0;

      }
    }
  }
}




// Mixins
.right {
  float: right;
}

.left {
  float: left;
}