* {box-sizing: border-box;}

// Mixins
.clearfix() {
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}

.left() { text-align: left; }
.right() { text-align: right; }
.center() { text-align: center; }

// Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

// Colours
@brand-blue: #3c96c8;
@brand-blue-dark: #016496;
@brand-green: #339966;
@brand-black: #1d2a35;
@brand-gray: #7f8795;
@brand-white: #fff;

// Page Styling
h1, h2, h3, h4, h5, h6 { font-family:  "Open Sans", sans-serif; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: @brand-white;
  min-width: 400px;

  main {
    section {
      .clearfix;
      overflow: hidden;
      height: 100%;
      position: relative;
      margin: 0;
      padding: 0;
      background-color: @brand-black;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left;
      .header {
        position: absolute;
        margin: 0.5rem;
        padding: 0.5rem;
        top: 0;
        left: 0;
        z-index: 100;
        img{
          height: 3.5rem;
        }
      }
      .section-title {
        width: 100%;
        text-align: center;
      }

      .story {
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 100%;
        padding-top: 3.5rem;
        text-align: center;
        &:before {
          content: '';
          display: inline-block;
          height: 100%;
          vertical-align: middle;
          margin-right: -0.25em;
        }
        img {
          display: inline-block;
          vertical-align: middle;
          max-width: 40%;
          max-height: 100%;
          padding: 5%;
        }
        .mobile-caption {
          display:none;
        }
        .caption {
          .clearfix;
          max-width: 400px;
          width: 60%;
          vertical-align: middle;
          display: inline-block;
          h2 {
            margin-bottom: 1rem;
            font-size: 30px;
          }
          p {
            font-size: 20px;
            margin:0;
            padding:0;
          }
        }
      }

      @media screen and (device-aspect-ratio: 40/71) {
        .story {
          &:before {
            display: none;
          }
          img {
            max-width: 80%;
            max-height: 60%;
            margin: 3%;
            margin-top: 10%;
            padding:0;
          }
          .caption {
            display: none;
          }
          .container {
            display: block;
            .caption { display: none; }
            img { width: 200px; }
          }
          .mobile-caption {
            .clearfix;
            margin: 3%;
            padding:0;
            display: inline-block;
          }
        }
      }

      @media only screen and (max-width: 600px) {
        .story {
          &:before {
            display: none;
          }
          img {
            max-width: 80%;
            max-height: 60%;
            margin: 3%;
            margin-top: 10%;
            padding:0;
          }
          .caption {
            display: none;
          }
          .mobile-caption {
            .clearfix;
            margin: 3%;
            padding:0;
            display: inline-block;
          }
        }
      }
    }

    section#title {
      background-image: url(images/forestBG.jpg);
    }

    section#curated {
      background-image: url(images/curatedBG.jpg);
    }

    section#lockscreen {
      background-image: url(images/nightSkyBG.jpg);
    }

    section#snacky {
      background-image: url(images/mainBG.jpg);
    }

    section#founders {
      background-color: darken(@brand-blue-dark, 2%);
      .peeker {
        position: absolute;
        margin: 0;
        padding: 0;
        bottom: -70%;
        left: -30%;
        z-index: 0;
        width: 100%;
        img{
          width: 70%;
        }
      }
      .story {
        color: @brand-white;
        padding-top: 5rem;
        z-index: 1;
        &:before {
          display:none;
        }
        .container {
          margin: 0;
          padding: 1rem;
          max-height: 35%;
          display: block;
          overflow: hidden;
          img {
            padding:0;
            display: inline-block;
            height: auto;
            width: 150px;
            border-radius: 100%;
            border: solid 10px darken(@brand-blue-dark, 12%);
          }
          .caption {
            display: inline-block;
            width: 85%;
            max-width: 600px;
            padding-left: 2rem;
            text-align: left;
            font-size: 16px;
            line-height: 24px;
            h3 {
              font-size: 22px;
              display: inline;
            }
          }
          @media only screen and (max-width: 700px) {
            .caption { display: none; }
          }
        }
      }
    }

    section#signup-form {
      background-color: white;
      .section-title {
        position: static;
        h1 {
          color: @brand-blue-dark;
          font-size: 60px;
        }
      }
      form {
        margin: 0 auto;
        padding: 0 5%;
        padding-bottom: 3rem;
        text-align: center;
        max-width: 1200px;
        div.info {
          margin-bottom: 2rem;
          p {
            margin: 0.5rem 0;
            padding: 0;
            font-size: 30px;
          }
        }
        label {
          font-size: 1.2rem;
          margin: 0.5em 0 0.2em;
        }
        input {
          width: 70%;
          margin: 1rem 5%;
          font-size: 1.2rem;
          padding: 0.5em 0.6em;
          display: inline-block;
          border: 1px solid #ccc;
          box-shadow: inset 0 1px 3px #ddd;
          border-radius: 4px;
        }
        select {
          width: 70%;
          margin-top: 1rem;
          margin-bottom: 1rem;
          font-size: 1.2rem;
          padding: 0.5rem 0.6rem;
          display: inline-block;
          border: 1px solid #ccc;
          box-shadow: inset 0 1px 3px #ddd;
          border-radius: 4px;
        }
        button {
          width: 70%;
          margin-top: 1rem;
          margin-bottom: 1rem;
          font-size: 1.2rem;
          color: white;
          padding: 0.5rem 0.6rem;
          display: inline-block;
          border: 1px solid @brand-green;
          background-color: @brand-green;
          border-radius: 4px;
        }
      }
    }

  }
}